* {
  box-sizing: border-box;
  margin: 0;
}
/* Стили для кнопки выбора цвета */
.color-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

/* Активный класс для кнопки выбора цвета */
.active-border {
  box-shadow: 0px 0px 0px 3px #fe9b07;
  /* border: 5px solid #fe9b07; */
}

.unactive_prompt {
  display: none;
}

.active_prompt {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
  height: 50px;
  background-color: blue;
  color: white;
  position: fixed;
  z-index: 1000000;
}

.active_prompt_2 {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 0, 0);
  color: white;
  position: fixed;
  z-index: 1000000;
}
